h1,
h2 {
    color: blue;
    font-family: 'Gotham Rounded', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
}
p {
    font-size: 1em;
}

.main {
    background: white;
    height: 100vh;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    justify-content: flex-start;
    align-content: stretch;
}

.about{
    flex: 0 0 260px;
    min-height: 100%;
    width: 400px;
    padding: 40px;
    background-color: white;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.about__top {
    flex-grow: 1;
}
.about__bottom {
    flex-grow: 0;
}

.main__seperator {
    flex: 0 0 1px;
    background-color: #EBECED;
}

.project-wrapper {
    padding: 40px 40px 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 25%;
    margin: 10px;
    padding: 10px;
    border-radius: 4px;
    overflow: hidden;
    text-align: left;
}

.project__header {
  font-size: 1.2em;
  margin: 5px;
  color: white;
}

.project__subtext {
  font-size: 1em;
  margin: 5px;
  color: white;
}

.project--rpg-game {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../assets/Game.png");
    background-size: cover;
    background-position: center;
}
.project--studr {
    background-color: #FDBF5C;
}
.project--life {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../assets/Life.png");
    background-size: cover;
    background-position: center;
}
.project--shared-space {
    background-color: #52489C;
}
.project--ramsay {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../assets/AmazonAlexa.png");
    background-size: cover;
    background-position: center;
}
.project--portfolio {
    background-color: $blue;
}

.project__text-wrapper {
    flex-grow: 1;
}

.project__body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.project__footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

/* Tags */
.tag-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.tag {
    font-size: $smallButtonFontSize;
    text-transform: uppercase;
    border-radius: 4px;
    padding: 6px 12px;
    margin: 5px 5px 0 0;
    cursor: default;
    background-color: rgba(255,255,255,0.2);
    color: white;
}
