h2.im-joseph figure {
    max-width: 240px;
    margin: 0 auto;
    position: relative;
    z-index: 990;
}

.profile-image {
    padding-top: 40px;
    width: auto;
}

p.header-desc {
    text-align: center;
    color: #45b29a;
    padding: 1em 0;
    font-size: 120%;
    font-weight: 400;
}

#top {
    background: #E0EbE8;
}

