h2.im-joseph figure {
    max-width: 260px;
    margin: 0 auto;
}

.profile-image {
    max-width: 240px;
}

p.header-desc {
    text-align: center;
    color: #45b29a;
    padding: 1em 0;
    font-size: 120%;
    font-weight: 400;
}

#top {
    background: #E0EbE8;
}

#what-i-know{
    background: #fff;
}

body {
    background: #E0EbE8;
}

#laptop {
    padding-top: 20px;   
}

.container {
    padding: 20px   
}