//Colors
$blue: #09A0F6;
$lightBlue: #F6F9FA;
$darkGrey: #5B707D;
$slate: #81A2BF;
$red: #F33363;
$gradient: linear-gradient(-45deg, #0059BB , #09A0F6);
$headerFontSize: 40px;
$sectionHeaderFontSize: 24px;
$sectionBodyFontSize: 18px;
$normalButtonFontSize: 16px;
$smallButtonFontSize: 12px;
//Fonts
@font-face {
	font-family: 'Gotham Rounded';
	src: url('fonts/Gotham-Rounded-Normal.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham Rounded';
	src: url('fonts/Gotham-Rounded-Medium.ttf') format('truetype');
	font-weight: bold;
	font-style: bold;
}
//Default element styles
html, body {
	font-family: 'Gotham Rounded', sans-serif;
	font-weight: normal;
	line-height: 1.4;
	text-align: center;
	margin: 0;
}
a {
	text-decoration: none;
}
//Default Section style
@mixin section($color, $backgroundColor, $highlightedColor) {
	background-color: $backgroundColor;
	padding: 40px;
	font-size: $sectionBodyFontSize;
	color: $color;
	h1 {
		font-size: $sectionHeaderFontSize;
		font-weight: normal;
		margin: 0 0 20px;
	}
	p {
		color: rgba($color, 0.60);
		font-size: $sectionBodyFontSize;
		font-weight: normal;
		margin-bottom: 40px;
	}
	a {
		color: $highlightedColor;
	}
	.highlighted {
		color: $highlightedColor;
	}
}
//Default Button Style
@mixin btn($textColor, $backgroundColor) {
	.btn {
		color: $textColor;
		background-color: $backgroundColor;
		font-size: $normalButtonFontSize;
		text-decoration: none;
		padding: 6px 12px;
		border-radius: 4px;
		display: inline-block;
		&:hover {
			color: $textColor;
			background-color: rgba($backgroundColor, 0.7);
		}
		.text {
			margin-left: 12px;
		}
	}
}
@mixin btn-small($textColor, $backgroundColor) {
	@include btn($textColor, $backgroundColor);
	.btn {
		font-size: $smallButtonFontSize;
	}
}
//Header
.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-image: $gradient;
	min-height: 100vh;
	position: relative;
	h1 {
		font-size: $headerFontSize;
		font-weight: normal;
		margin: 5px;
	}
	#greeting {
		color: rgba(white,0.5);
	}
	#name {
		color: white;
	}

	.social-wrapper{
		background-color: none;
		position: absolute;
		bottom: 120px;
		@media screen and (max-width: 600px) { bottom: 30px;}
		left: 0;
		right: 0;
		@include btn(#0376D3,white);
		.btn {
			.text {
				@media screen and (max-width: 600px) {
					display: none;
				}
			}
		}
	}
}
//About section
.about {
	@include section($darkGrey, $lightBlue, $darkGrey);
	@include btn(white,$blue);
}
//Projects section
.projects {
	@include section($darkGrey ,white, $darkGrey);
	@include btn(white,$blue);
	.project-wrapper{
		display:flex;
		flex-direction:row;
		flex-wrap:wrap;
	}
	.project{
		@include btn-small(white,$blue);
		display: flex;
		flex:1 1 25%;
		@media screen and (max-width: 600px) { flex:100%;}
		flex-direction: column;
		justify-content: space-between;
		margin: 10px 10px 10px 10px;
		background-color: $lightBlue;
		border-radius: 4px;
		padding: 20px;
		position: relative;
		color: $darkGrey;
		text-align: left;
		h1 {
			font-size: 20px;
			margin: 0 0 10px 0;
		}
		p {
			font-size: 14px;
			margin: 0 0 10px 0;
		}
		a.btn{
			text-transform: uppercase;
		}
		.tag-wrapper{
			display:flex;
			flex-wrap: wrap;
			flex-direction: row;
		}
		a.tag{
			font-size: $smallButtonFontSize;
			text-transform: uppercase;
			border-radius: 4px;
			padding: 6px 12px;
			background-color: darken($lightBlue, 4);
			margin: 0px 5px 5px 0px;
		}
	}
	.github-ad{
		@include btn-small(white,$slate);
	}
}
//Footer section
.footer {
	@include section($darkGrey, white, $darkGrey);
	.fa-heart {
		color: $red;
		padding: 5px;
	}
	.fa-coffee {
		color: $blue;
		padding: 5px;
	}
}
//Tooltip Theme
.tooltip-theme {
	border-radius: 5px;
	border: 0;
	background: $blue;
	color: #fff;
	.tooltipster-content {
		font-family: 'Gotham Rounded', Arial, sans-serif;
		font-size: 14px;
		line-height: 18px;
		padding: 8px 10px;
	}
}
//Pulse Animation
@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale(1.1);
		transform: scale(1.0);
	}
	50% {
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
	}
	100% {
		-webkit-transform: scale(1.1);
		transform: scale(1.0);
	}
}
@keyframes pulse {
	0% {
		-webkit-transform: scale(1.0);
		-ms-transform: scale(1.0);
		transform: scale(1.0);
	}
	50% {
		-webkit-transform: scale(0.8);
		-ms-transform: scale(0.8);
		transform: scale(0.8);
	}
	100% {
		-webkit-transform: scale(1.0);
		-ms-transform: scale(1.0);
		transform: scale(1.0);
	}
}
.faa-parent.animated-hover:hover > .faa-pulse,
.faa-pulse.animated,
.faa-pulse.animated-hover:hover {
	-webkit-animation: pulse 2s linear infinite;
	animation: pulse 2s linear infinite;
}
.faa-parent.animated-hover:hover > .faa-pulse.faa-fast,
.faa-pulse.animated-hover.faa-fast:hover,
.faa-pulse.animated.faa-fast {
	-webkit-animation: pulse 1.5s linear infinite;
	animation: pulse 1.5s linear infinite;
}
.faa-parent.animated-hover:hover > .faa-pulse.faa-slow,
.faa-pulse.animated-hover.faa-slow:hover,
.faa-pulse.animated.faa-slow {
	-webkit-animation: pulse 3s linear infinite;
	animation: pulse 3s linear infinite;
}
