/* Variables */
$blue: #35A7FF;
$imageBackgroundGradient: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
$borderRadius: 4px;
/* Fonts */
@font-face {
    font-family: 'Gotham Rounded';
    src: url('fonts/Gotham-Rounded-Normal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham Rounded';
    src: url('fonts/Gotham-Rounded-Medium.ttf') format('truetype');
    font-weight: bold;
    font-style: bold;
}
@font-face {
    font-family: 'Gotham-Black';
    src: url('fonts/Gotham-Black.otf') format('truetype');
    font-weight: bold;
    font-style: bold;
}
@font-face {
    font-family: 'Gotham-Bold';
    src: url('fonts/Gotham-Bold.otf') format('truetype');
    font-weight: bold;
    font-style: bold;
}
@font-face {
    font-family: 'Gotham-Book';
    src: url('fonts/Gotham-Book.otf') format('truetype');
    font-weight: bold;
    font-style: bold;
}
/* Media Queries */
$tablet-width: 768px;
$desktop-width: 1024px;
@mixin tablet {
     @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}){
        @content;
    }
}
@mixin desktop {
     @media (min-width: #{$desktop-width}){
        @content;
    }
}
/* Default Element Styles */
html {
    height: 100%;
    overflow: hidden;
}
body {
    height: 100%;
    overflow: auto;
    font-family: 'Gotham-Book', sans-serif;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
/* Section */
@mixin section($color, $backgroundColor, $highlightedColor) {
    background-color: $backgroundColor;
    color: $color;
    h1 {
        font-weight: normal;
        margin: 0 0 20px;
        color: $highlightedColor;
    }
    p {
        color: rgba($color, 0.90);
        font-weight: normal;
        margin-bottom: 40px;
    }
    .highlighted {
        color: $highlightedColor;
    }
}
/* Button */
@mixin button($textColor, $backgroundColor) {
    .button {
        color: $textColor;
        background-color: $backgroundColor;
        font-size: 16px;
        text-decoration: none;
        padding: 9px 15px;
        border-radius: $borderRadius;
        display: inline-block;
        -webkit-transition: all 100ms ease-in-out;
        &:hover {
            color: $textColor;
            background-color: rgba($backgroundColor, 0.8);
        }
        .text {
            margin-left: 12px;
        }
    }
}
/* Header Section */
.main-wrapper {
    @include button(white,$blue);
    @include section(#12202B, white, $blue);
    background: white;
    height: 100vh;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    @media screen and (max-width: 800px) {
        flex-direction: column;
        overflow-y: scroll;
    }
    justify-content: flex-start;
    align-content: stretch;
    .decoration {
        flex: 0 0 20px;
        background-color: $blue;
    }
    .about-wrapper {
        flex: 0 0 260px;
        min-height: calc(100% - 80px);
        @media screen and (max-width: 800px) {
            width: calc(100% - 80px);
        }
        width: 400px;
        padding: 40px;
        background-color: white;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        .top {
            flex-grow: 1;
        }
        .bottom {
            flex-grow: 0;
        }
    }
    .social-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-content: stretch;
        .button {
            flex: 1 1 auto;
        }
    }
    .seperator {
        flex: 0 0 1px;
        background-color: #EBECED;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    h1,
    h2 {
        color: $blue;
        font-family: 'Gotham Rounded', sans-serif;
        font-weight: bold;
        text-transform: uppercase;
    }
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.5em;
    }
    p {
        font-size: 1em;
    }
    .project-wrapper {
        padding: 30px 40px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        overflow-y: scroll;
        padding-bottom: 30px;
        @media screen and (max-width: 800px) {
            overflow-y: visible;
        }
    }
    .project {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1 1 25%;
        @media screen and (max-width: 950px) {
            flex: 1 1 100%;
        }
        @media screen and (max-width: 1100px) {
            flex: 1 1 40%;
        }
        margin: 5px;
        padding: 10px;
        border-radius: $borderRadius;
        overflow: hidden;
        text-align: left;
        .text-wrapper {
            flex-grow: 1;
        }
        h1 {
            font-size: 1.2em;
            margin: 5px;
            color: white;
        }
        p {
            font-size: 1em;
            margin: 5px;
            color: rgba(white, 0.8);
        }
        .project-body {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
        }
        .project-footer {
            font-size: 0.75em;
            text-align: center;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            a {
                text-transform: uppercase;
                background-color: white;
                color: black;
                text-align: center;
                padding: 6px 12px;
                margin: 5px 5px 0 0;
                border-radius: $borderRadius;
                &:hover {
                    background-color: rgba(255,255,255,0.8);
                }
            }
        }
    }
    .project--game-engine {
        background: $imageBackgroundGradient, url("../assets/Game.png");
        background-size: cover;
        background-position: center;
    }
    .project--studr {
        background: $imageBackgroundGradient, url("../assets/Studr.jpg");
        background-size: cover;
        background-position: center;
    }
    .project--life {
        background: $imageBackgroundGradient, url("../assets/Life.png");
        background-size: cover;
        background-position: center;
    }
    .project--shared-space {
        background-color: #52489C;
    }
    .project--ramsay {
        background: $imageBackgroundGradient, url("../assets/AmazonAlexa.png");
        background-size: cover;
        background-position: center;
    }
    .project--portfolio {
        background-color: $blue;
    }
    .project--python-course {
        background-color: #FE4365;
    }
}
/* Tags */
.tag-wrapper {
    font-size: 0.75em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.tag {
    text-transform: uppercase;
    border-radius: $borderRadius;
    padding: 6px 12px;
    margin: 5px 5px 0 0;
    cursor: default;
    background-color: rgba(255,255,255,0.2);
    color: white;
}
