/* Colors */
$blue: #1A9CFB;
$lightBlue: #F6F9FA;
$darkGrey: #5B707D;
$slate: #81A2BF;
$red: #F33363;
$tagColor: #EEF3F5;
$gradient: linear-gradient(-45deg, #0059BB , #09A0F6);
$headerFontSize: 40px;
$sectionHeaderFontSize: 24px;
$sectionBodyFontSize: 18px;
$normalButtonFontSize: 16px;
$smallButtonFontSize: 12px;
/* Fonts */
@font-face {
    font-family: 'Gotham Rounded';
    src: url('fonts/Gotham-Rounded-Normal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham Rounded';
    src: url('fonts/Gotham-Rounded-Medium.ttf') format('truetype');
    font-weight: bold;
    font-style: bold;
}
/* Media Queries */
$tablet-width: 768px;
$desktop-width: 1024px;
@mixin tablet {
     @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}){
        @content;
    }
}
@mixin desktop {
     @media (min-width: #{$desktop-width}){
        @content;
    }
}
/* Default Element Styles */
body,
html {
    font-family: 'Gotham Rounded', sans-serif;
    font-weight: normal;
    line-height: 1.4;
    text-align: center;
    margin: 0;
}
a {
    text-decoration: none;
}
/* Section */
@mixin section($color, $backgroundColor, $highlightedColor) {
    background-color: $backgroundColor;
    padding: 40px;
    font-size: $sectionBodyFontSize;
    color: $color;
    h1 {
        font-size: $sectionHeaderFontSize;
        font-weight: normal;
        margin: 0 0 20px;
    }
    p {
        color: rgba($color, 0.60);
        font-size: $sectionBodyFontSize;
        font-weight: normal;
        margin-bottom: 40px;
    }
    a {
        color: $highlightedColor;
    }
    .highlighted {
        color: $highlightedColor;
    }
}
/* Button */
@mixin btn($textColor, $backgroundColor) {
    .btn {
        color: $textColor;
        background-color: $backgroundColor;
        font-size: 16px;
        text-decoration: none;
        padding: 9px 15px;
        border-radius: 4px;
        display: inline-block;
        -webkit-transition: all 100ms ease-in-out;
        &:hover {
            color: $textColor;
            background-color: rgba($backgroundColor, 0.8);
        }
        .text {
            margin-left: 12px;
        }
    }
}
.navbar {
    @include btn($blue,rgba(white, 0.4));
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    .navbar-right {
        float: right;
        padding: 10px;
    }
    .navbar-left {
        float: left;
    }
    .icon {
        text-decoration: none;
        font-size: 26px;
        color: white;
        padding: 10px;
    }
}
/* Header Section */
.header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    @include btn($blue,white);
    /* fallback for old browsers */
    background: #00c6ff;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to left, #00c6ff , #0072ff);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to left, #00c6ff , #0072ff);
    height: 50vh; //calc(50vh - 275px / 2 + 275px);
    h1 {
        font-size: $headerFontSize;
        font-weight: normal;
        margin: 5px;
    }
    .social-wrapper {
        @media screen and (max-width: 600px) {
            bottom: 30px;
        }
        @include btn($blue,white);
        .btn {
            .text {
                @media screen and (max-width: 600px) {
                    display: none;
                }
            }
        }
    }
}
/* About Section */
.about {
    @include section($darkGrey, $lightBlue, $darkGrey);
    @include btn(white,$blue);
    position: relative;
    z-index: 100;
}
/* Projects Section */
.projects {
    @include section($darkGrey, white, $darkGrey);
    .project-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .project {
        display: flex;
        flex: 1 1 25%;
        @media screen and (max-width: 600px) {
            flex: 1 1 100%;
        }
        flex-direction: column;
        justify-content: space-between;
        margin: 10px;
        padding: 10px;
        background-color: $lightBlue;
        border-radius: 4px;
        overflow: hidden;
        position: relative;
        text-align: left;
        .text-wrapper {
            flex-grow: 1;
        }
        h1 {
            font-size: 20px;
            margin: 5px;
        }
        p {
            font-size: 14px;
            margin: 5px;
        }
        .project-body {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            margin-bottom: 5px;
        }
        .project-footer {
            text-transform: uppercase;
            background-color: $blue;
            color: white;
            text-align: center;
            padding: 6px 12px;
            border-radius: 4px;
            font-size: $smallButtonFontSize;
            &:hover {
                background-color: rgba($blue, 0.7);
            }
        }
        .github {
            background-color: $slate;
            &:hover {
                background-color: rgba($slate, 0.7);
            }
        }
    }
}
/* Tags */
.tag-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.tag {
    font-size: $smallButtonFontSize;
    text-transform: uppercase;
    border-radius: 4px;
    padding: 6px 12px;
    margin: 5px 5px 0 0;
    cursor: default;
    background-color: darken($lightBlue, 4);
}
/* Footer Section */
.footer {
    @include section($darkGrey, white, $darkGrey);
    .fa-heart {
        color: $red;
        padding: 5px;
    }
    .fa-coffee {
        color: $blue;
        padding: 5px;
    }
}
/* Tooltip Theme */
.tooltip-theme {
    border-radius: 5px;
    border: 0;
    background: $blue;
    color: #fff;
    .tooltipster-content {
        font-family: 'Gotham Rounded', Arial, sans-serif;
        font-size: 14px;
        line-height: 18px;
        padding: 8px 10px;
    }
}
/* Window */
.window {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: #0F2230; //48d8a0;
    font-size: 16px;
    text-align: left;
    width: 400px;
    @media screen and (max-width: 480px) {
        width: 80vw;
        height: 70%;
    }
    height: 270px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow: hidden;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .05), 0 2px 12px 0 rgba(0, 0, 0, .1);
    pre {
        margin: 1em;
    }
    .code-wrapper {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    code {
        background-color: transparent;
    }
}
.titlebar {
    padding: 0 4px;
    background-color: #0F2230;
    &:after {
        clear: both;
        content: "";
        display: block;
    }
}
.titlebar-close,
.titlebar-maximize,
.titlebar-minimize {
    float: left;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 6px 4px;
}
.titlebar-close {
    border: 1px solid #e2463f;
    background-color: #ff5f57;
    margin-left: 6px;
    &:active {
        border-color: #ad3934;
        background-color: #bf4943;
    }
}
.titlebar-minimize {
    border: 1px solid #e1a116;
    background-color: #ffbd2e;
    &:active {
        border-color: #ad7d15;
        background-color: #bf9123;
    }
}
.titlebar-maximize {
    border: 1px solid #12ac28;
    background-color: #28c940;
    &:active {
        border-color: #128622;
        background-color: #1f9a31;
    }
}
