.home-about
    animation: fadein .5s both
    animation-delay: .3s
    display: flex
    align-items: flex-start
    margin-top: 30px

.about-text
    color: rgba(58, 71, 80, .7)
    font-size: 18px
    line-height: 1.6
    margin-bottom: 25px

.prof-img
    width: 200px

.prof-img img
    border-radius: 4px
    width: 100%
    height: 100%
    object-fit: cover

.about-text-container
    width: calc(100% - 200px)
    padding-left: 35px

@media (max-width:600px)
    .home-about
        display: block
        padding-top: 10px

    .prof-img
        margin-bottom: 20px
        height: 200px

    .about-text-container
        padding-left: 0
        width: 100%

