// - - - - - - - - - - - - Variables - - - - - - - - - - - -//

$blue: #41AAE2
$red: #DD4B4E
$yellow: #ffdd79
$textColor: #5c5a47

// - - - - - - - - - - - - Media Queries - - - - - - - - - - - -//

$tablet-width: 768px
$desktop-width: 1024px
@mixin tablet
  @media (min-width: $tablet-width) and (max-width: $desktop-width - 1px)
    @content

@mixin desktop
  @media (min-width: $desktop-width)
  @content

// - - - - - - - - - - - - Global Styles - - - - - - - - - - - -//

html
  height: 100%
  overflow: hidden

body
  height: 100%
  overflow: auto
  font-family: 'Gotham-Book', sans-serif
  margin: 0

a
  text-decoration: none

h1,
h2,
p
  color: #40495F
  font-size: 1em
  margin: 0
  font-weight: normal

*
  box-sizing: border-box

// - - - - - - - - - - - - Main Styles - - - - - - - - - - - -//

.main-wrapper
  display: flex
  align-items: stretch
  width: 100%
  height: 100vh

.lead
  font-size: 1.5em
  margin: 0
  font-weight: normal
  font-family: 'Apercu', sans-serif

// - - - - - - - - - - - - Main Content Styles - - - - - - - - - - - -//
.content
  flex: 1 1 auto
  overflow-y: scroll
  -webkit-overflow-scrolling: touch
// - - - - - - - - - - - - Media Queries - - - - - - - - - - - -//

@media screen and (max-width: 620px)
  body
    font-size: 1.3em
    -webkit-overflow-scrolling: touch

  .title
    font-size: 1.3em
  .content
    overflow: hidden

  .main-wrapper
    display: block

  .sidebar
    height: auto
    text-align: left
  .lead
    font-size: 1em
