// - - - - - - - - - - - - Project Styles - - - - - - - - - - - -//
.projects
  background: #F0F3F7
  padding: 20px 20px 0

.projects-grid
  width: 100%

.project
  opacity: 0
  display: flex
  flex-direction: column
  width: calc(25% - 15px)
  margin-bottom: 20px
  padding: 10px
  background-color: white
  &:hover
    background-color: #fafaf9

  .text-wrapper
    flex-grow: 1

  .image
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    height: 160px
    margin: -10px -10px 10px

  .title
    margin: 5px
    color: #40495F
    text-align: center
    font-size: 1em

  .date
    text-align: center
    padding: 0 0 10px
    margin: 5px
    color: rgba(#40495F, 0.6)

  .description
    margin: 5px
    color: rgba(#40495F, 0.6)


@media screen and (max-width: 1020px)
  .project
    width: calc(33.333% - 13.333px)

@media screen and (max-width: 820px)
  .project
    width: calc(50% - 10px)

@media screen and (max-width: 620px)
  .project
    width: 100%
  .project
    overflow-y: visible


@keyframes tada
  from
    opacity: 0
    transform: translate3d(0, 100%, 0)
  to
    opacity: 1
    transform: none

.tada
  animation-name: tada
  animation-duration: 1s
  animation-fill-mode: both
