$primary: #FF0032
$family-primary: 'Lato', 'Montserrat', sans-serif

.content
  margin: 0

@import 'fonts'
@import 'base'
@import 'projects'
@import 'nav'
@import 'footer'
@import 'experience'
@import 'footer'
@import 'about'
@import 'article'