
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@font-face{
	font-family: 'Proxima Nova';
	src: url(fonts/ProximaNova-Bold.otf) format('opentype');
}

	
html {
	overflow-x: hidden;
}

body {
	font-family: 'Open Sans', sans-serif;
}

img {
	width: 100%;
}

.name{
	font-family: 'Proxima Nova', sans-serif;
	height: 100vh;
	font-size: 60px;
	text-align: center;
	color: #039BFD;
}
.header{
	height:100vh;
}
.header-image{
	height:80vh;
}
.about{
	height:100vh;
	background-color: rgb(255, 255, 255);
}

.button{
	height:70px;
	width:250px;
	background-color: #00CE96;
  	-moz-border-radius: 35px;
  	-webkit-border-radius: 35px;
  	border: 5px solid #00CE96;
  	padding: 5px;
	text-align: center;
}