
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@font-face{
	font-family: 'Proxima Nova';
	src: url(fonts/ProximaNova-Bold.otf) format('opentype');
}

	
html {
	overflow-x: hidden;
}

body {
	font-family: 'Open Sans', sans-serif;
}

img {
	width: 100%;
}

.name{
	font-family: 'Proxima Nova', sans-serif;
	height: 100vh;
	font-size: 60px;
	text-align: center;
	color: #039BFD;
}
.header{
	height:70vh;
	padding: 20px;
}
.header-image{
	max-height: 400px;
	min-height: 70vh;
	display: block;
    margin-left: auto;
    margin-right: auto 
}

.buttons{
	min-height:30vh;
}
.about{
	height:100vh;
	background-color: rgb(255, 255, 255);
}

.button-container {
    padding-top: 1em;
	padding-right: 1em;
	padding-left: 1em;
	padding-bottom: 1em;
}

.btn {
	width:100%;
  	-webkit-border-radius: 60;
  	-moz-border-radius: 60;
  	border-radius: 60px;
  	color: #00ABFF;
  	font-size: 20px;
  	background-color: transparent;
  	padding: 20px 40px 20px 40px;
  	border: solid #00ABFF 2px;
  	text-decoration: none;
	-webkit-transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
   	transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
}

.btn:hover {
  	background-color: #00ABFF;
  	text-decoration: none;
	color:white;
}