include _card.pug

section.experience.fade-in.delay-3
  h1.section-title Experience
  .work-grid
    +card('amazon', 'Amazon', 'Software Development Engineer', '', '#ff9900', 'img/amazon_logo.png', '')
  .work-grid
    +card('amazon-internship', 'Amazon', 'Software Development Engineer Intern', 'img/spheres.jpg', '#ff9900', 'img/amazon_logo.png', 'amazon-internship.html')
    +card('riis', 'Riis', 'Mobile Development Intern', 'img/office.jpg', '#2494D0', 'img/riis_logo_white.svg', '')
  .work-grid
    +card('logicdrop', 'Logicdrop', 'Software Development Engineer Intern', '', '', '', '')
    +card('oakland-university', 'Oakland University', 'Teaching Assistant', '', '', '', '')
