section.footer
  .container.has-text-centered
    a(href='mailto:jpherkness@gmail.com') jpherkness@gmail.com
    br
    a(href='https://github.com/jpherkness') Github
    br
    a(href='https://twitter.com/jpherkness') Twitter
    br
    a(href='https://www.linkedin.com/in/josephherkness') LinkedIn
    br
    a(href='https://drive.google.com/open?id=0B_Mjzckcc-JfQ3ktYVlZUFJJeWM') Résumé
