section.social-media-container
    ul
        li
            a(target="_blank" href="https://github.com/jpherkness") Github
        li
            a(target="_blank" href="https://linkedin.com/in/josephherkness") Linkedin
        li
            a(target="_blank" href="https://facebook.com/jpherkness") Facebook
        li
            a(target="_blank" href="https://twitter.com/jpherkness") Twitter
        li
            a(target="_blank" href="https://instagram.com/josephherkness") Instagram