include _card.pug

section.other-stuff.fade-in.delay-5
  h1.section-title Here are a few things I've made
  .work-grid.small
    +card('brand-cnetral', 'Brand Central', 'Web Application', '', '', '', '')
    +card('eta-detroit', 'ETA Detroit', 'Mobile Application', '', '', '', '')
    +card('ramsay-kitchen-assistant', 'Ramsay Kitchen Assistant', 'Alexa Skill', '', '', '', '')
  .work-grid.small
    +card('sokoban-solver', 'Sokoban Solver', 'Research Project', '', '', '', '')
    +card('activity-classification', 'Activity Classification', 'Research Project', '', '', '', '')
    //+card('See More...', '', '', '', '', '')
    .card.empty-item
