.sidebar

  h1.header Joseph</br>Herkness

  ul.body
    li.nav-item
      a(href='https://github.com/jpherkness') Github
    li.nav-item
      a(href='https://twitter.com/jpherkness') Twitter
    li.nav-item
      a(href='https://www.linkedin.com/in/josephherkness') LinkedIn
    li.nav-item
      a(href='img/Joseph_Herkness_Resume_Online.pdf') Résumé

  ul.footer
    li.nav-item
      a(href='mailto:jpherkness@gmail.com') Email Me
