.sidebar

  h1.header Joseph</br>Herkness

  ul.body
    li.nav-item
      a(href='https://github.com/jpherkness') Github
    li.nav-item
      a(href='https://twitter.com/jpherkness') Twitter
    li.nav-item
      a(href='https://www.linkedin.com/in/josephherkness') LinkedIn
    li.nav-item
      a(href='https://www.dropbox.com/s/f3fje3bzlxx4mn1/Joseph_Herkness_Resume.pdf?dl=0') Résumé

  ul.footer
    li.nav-item
      a(href='mailto:jpherkness@gmail.com') Email Me
