p.title-description.fade-in
    | Hello! I'm a software developer in my 4th year at Oakland University and previously worked at 
    a.homepage-link.amazon-link(ga-name="Amazon Internship Page" href="/amazon_internship") Amazon 
    |  and 
    a.homepage-link.riis-link(ga-name="Riis Internship Page" href="/riis") Riis
    | . This spring, I'll be returning to Amazon as a full-time software development engineer.
