doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='Joseph Herkness')
    meta(name='keywords', content='Joseph,joseph,joey,Joey,Joey Herkness,Joseph Herkness,herkness,Herkness,iphone,iOS,Resume,resume,Information,Personal,skills,contact,programming,compiuter science,oakland university,clarkston,freelance,developer,software,oakland,student,skills,personal,website,josephherkness,jpherkness,michigan,')
    title Joseph Herkness Portfolio
    // link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css')
    link(rel='stylesheet', href='css/style.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900')
  body

    // include _sidebar.pug
    include _landing.pug
    include _projects.pug
    include _footer.pug

    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script(src='js/masonry.pkgd.min.js')
    script(src='js/index.js')
    script(src='js/animation.js')
    script(src='js/vendor/three.js')
    script(src='js/analytics.js')
