doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='Joseph Herkness')
    meta(name='keywords', content='Joseph,joseph,joey,Joey,Joey Herkness,Joseph Herkness,herkness,Herkness,iphone,iOS,Resume,resume,Information,Personal,skills,contact,programming,compiuter science,oakland university,clarkston,freelance,developer,software,oakland,student,skills,personal,website,josephherkness,jpherkness,michigan,')
    title Joseph Herkness Portfolio
    link(rel='stylesheet', href='css/style.min.css')

  body.main-wrapper

    include _sidebar.pug
    .content
      include _about.pug
      include _projects.pug
      include _footer.pug

    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script(src='https://npmcdn.com/masonry-layout@4.1/dist/masonry.pkgd.min.js')
    script(src='js/index.js')
    script(src='js/analytics.js')
